@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Montserrat';
		font-style: normal;
		font-display: swap;
		src: url('$lib/assets/fonts/montserrat.woff2') format('woff2');
	}
}

/* Using color palette (Zinc) from TailwindCSS: https://tailwindcss.com/docs/customizing-colors */

html {
	font-family: 'Montserrat', sans-serif;
}

html,
body {
	@apply bg-zinc-950;
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-3xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-semibold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	@apply text-zinc-50;
}

a {
	@apply text-zinc-500;
	@apply transition-colors duration-[250ms];

	&:hover {
		@apply text-zinc-50;
	}
}

p,
a {
	@apply text-sm md:text-base;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide-up {
	0% {
		transform: translateY(8px);
	}
	100% {
		transform: translateY(0px);
	}
}
